# {{ ansible_managed|comment }}
# Additional configuration for Nginx.

server {
    client_header_buffer_size   {{ nginx_client_header_buffer_size }};
    large_client_header_buffers {{ nginx_large_client_header_buffers }};
    send_timeout                {{ nginx_send_timeout }};
    ssl_ciphers                 '{{ nginx_ssl_ciphers }}';
    ssl_session_tickets         {{ nginx_ssl_session_tickets }};
    ssl_dhparam                 /etc/nginx/dh{{ nginx_dh_size }}.pem;
    {% for header in nginx_add_header %}
    add_header                  {{ header }};
    {% endfor %}
        
    location / {
        root   {{ nginx_site_root }};
        auth_request /auth;
        deny all;
        limit_conn                  {{ nginx_limit_conn }};
        limit_rate                  {{ nginx_limit_rate }};

    }
}
